.Opinia{
    clear: both;
    background-color: aqua;
    margin-top: 10px;
    border-radius: 5px;
    
}

.Opinia li {
    margin-bottom: 10px;
}

.tresc{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.wyszukaj{
    margin-top: 10px;
    align-self: center;
    width: 50%;
    border-radius: 5px;
}

.like{
    border-radius: 5px;
    background-color:chocolate;
}

.add{
    border-radius: 5px;
    background-color:rgb(236, 240, 35);
}